---
const { href, isNotFlex: isListItem, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

{
  !isListItem ? (
    <li class="flex items-center justify-center">
      <a
        href={href}
        class:list={[
          className,
          { active: isActive },
          "no-underline black active:font-bold hover:font-bold",
        ]}
        {...props}
      >
        <slot />
      </a>
    </li>
  ) : (
    <a
      href={href}
      class:list={[
        className,
        { active: isActive },
        "no-underline black hover:font-bold active:font-bold",
      ]}
      {...props}
    >
      <slot />
    </a>
  )
}
