---
const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

{
  (
    <li>
      <a
        href={href}
        class:list={[
          className,
          { active: isActive },
          "no-underline black active:font-bold hover:font-bold",
        ]}
        {...props}
      >
        <slot />
      </a>
    </li>
  )
}
