---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "../nav/ThemeIcon";
import Searchbar from "../nav/Searchbar";
import Hamburger from "../nav/Hamburger";
---

<nav class="flex items-center">
  <Searchbar client:idle />

  <ul class="flex flex-row flex-grow mr-5 gap-x-5 max-lg:hidden">
    <HeaderLink href="/about">어바웃</HeaderLink>
    <HeaderLink href="/category">카테고리</HeaderLink>

    <HeaderLink href="https://github.com/olcw78" target="_blank">
      <img src="/svg/github-mark.svg" alt="github logo" />
    </HeaderLink>
  </ul>

  <Hamburger client:idle />
  <ThemeIcon client:idle />
</nav>
