---
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../components/layouts/Layout.astro";
import { Blog } from "../../types";
import { groq, useSanityClient } from "astro-sanity";

const query = groq`
  *[_type == "blog"] {
    title,
    slug,
    publishedAt,    
  }
`;

const responses = await useSanityClient().fetch<ReadonlyArray<Blog>>(query);
const blogs = responses.map((blog) => ({
  ...blog,
  slug: blog.slug.current
}));

type Props = {
  blogs: ReadonlyArray<Blog>
}
---

<Layout>
  <section>
    <ul class="list-none p-[unset]">
      {blogs.map((blog) => (
        <li class="flex items-center pb-5">
          <a href={"/blog/" + blog.slug}>{blog.title}</a>
        </li>
      ))}
    </ul>
  </section>
</Layout>
