---
import Nav from "./Nav.astro";
const { title } = Astro.props;
---

<header
  class="flex flex-row justify-between items-center mx-[5rem] mt-2 mb-4 sticky"
>
  <button
    type="button"
    id="logo-button"
    class="border-0 bg-transparent hover:cursor-pointer"
  >
    <img
      src="/src/assets/img/ing-logo.png"
      alt={title}
      width={50}
      height={50}
    />
  </button>
  <Nav />
</header>

<script>
  const onClickLogoButton = () => {
    window.location.replace(window.location.origin);
  };

  const logoButtonElement = document.getElementById(
    "logo-button"
  )! as HTMLButtonElement;

  logoButtonElement.addEventListener("click", onClickLogoButton);
</script>
