---
import Nav from "./Nav.astro";
const { title } = Astro.props;
---

<header class="shadow bg-white py-2 mb-10 flex-grow">
  <div class="flex flex-row max-sm:flex-col justify-between items-center mx-[5rem]">
    <button
      type="button"
      id="logo-button"
      class="border-0 bg-transparent hover:cursor-pointer flex items-center"
    >
      <img
        src="/img/ing-logo.png"
        alt={title}
        width={50}
        height={50}
        class="mr-2 max-sm:mr-0"
      />
      <p class="text-3xl max-sm:hidden">Ingnyusan</p>
    </button>

    <Nav />
  </div>
</header>

<script>
  const onClickLogoButton = () => {
    window.location.replace(window.location.origin);
  };

  const logoButtonElement = document.getElementById(
    "logo-button"
  )! as HTMLButtonElement;

  logoButtonElement.addEventListener("click", onClickLogoButton);
</script>
