---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "../ThemeIcon";
import Searchbar from "../Searchbar";
---

<nav class="flex items-center">
  <Searchbar client:load />

  <ul class="gap-x-5 flex flex-row mr-5">
    <HeaderLink href="/blog">블로그</HeaderLink>
    <HeaderLink href="/about">어바웃</HeaderLink>
    <HeaderLink href="https://github.com/olcw78" target="_blank">
      <img
        src="/svg/github-mark.svg"
        alt="github logo"
        width={30}
        height={30}
      />
    </HeaderLink>
  </ul>

  <ThemeIcon client:load />
</nav>
