---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "../ThemeIcon";
import Searchbar from "../Searchbar";
import Hamburger from "../Hamburger";
---

<nav class="flex items-center ">
  <Searchbar client:load />

  <ul class="gap-x-5 flex flex-row mr-5 flex-grow max-lg:hidden">
    <li>
      <HeaderLink href="/blog"><p class="flex-nowrap">블로그</p></HeaderLink>
    </li>
    <li>
      <HeaderLink href="/about">어바웃</HeaderLink>
    </li>
    <li>
      <HeaderLink href="/category">카테고리</HeaderLink>
    </li>
  </ul>

  <HeaderLink
    href="https://github.com/olcw78"
    target="_blank"
    isNotFlex
  >
    <img
      src="/svg/github-mark.svg"
      alt="github logo"
    />
  </HeaderLink>

  <Hamburger client:load />
  <ThemeIcon client:load />
</nav>
