---
interface Props {
  category: string;
  isTextOnly?: boolean;
}
const { category, isTextOnly = false } = Astro.props;
---

<li>
    <button class={isTextOnly ? "btn btn-xs btn-ghost p-auto" : "btn btn-xs p-auto"}>
        <span class={!isTextOnly ? "text-white" : ""}>{category}</span>
    </button>
</li>
