---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article class="min-h-[85vh]">
    <h1 class="text-2xl mt-2">
      프론트 엔드 개발자 <span class="font-bold">이윤상</span>&nbsp;입니다.
    </h1>
  </article>
</Layout>
