---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <article class='min-h-[85vh]'>
    <h1 class='mt-2 text-2xl'>
      소프트웨어 개발자 <span class='font-bold'>이윤상</span>&nbsp;입니다.
    </h1>
  </article>
</Layout>
