---
import { getAllBlogOutlines } from "src/cms/getAllBlogOutlines";
import Layout from "../components/layouts/Layout.astro";

const blogOutlines = await getAllBlogOutlines();
---

<Layout>
  <section class="min-h-[85vh]">
    <ul class="list-none p-[unset]">
      {
        blogOutlines.map((blog) => (
          <li class="flex flex-row justify-between items-center pb-5">
            <a href={"/blog/" + blog.slug}>{blog.title}</a>
            <date>{blog.publishedAt}</date>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
