---
import Layout from "@/components/layouts/Layout.astro";
---

<Layout>
  <section class="section">
    <div class="container">
      <h1 class="title">Hello yall</h1>
      <button class="btn">Click Me!</button>
    </div>
  </section>
</Layout>
