---
const today = new Date();
---

<footer>
  <section class="flex justify-center pb-10 text-gray-400 space-x-2">
    <div>&copy;&nbsp;{today.getFullYear()}</div>
    <div>•</div>
    <div>이윤상</div>
    <div>•</div>
    <div>Ingnyusan</div>
  </section>
</footer>
