---
const { href, isNotFlex: isListItem, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

{!isListItem ? (
<li class="flex justify-center items-center">
  <a
    href={href}
    class:list={[
      className,
      { active: isActive },
      "no-underline black hover:font-bold"
    ]}
    {...props}
  >
    <slot />
  </a>
</li> )
  : (
<button class="btn border-0 bg-transparent">
  <a href={href} class:list={[
    className,
    { active: isActive },
    "no-underline black hover:font-bold"
  ]}
     {...props}
  >
    <slot />
  </a></button>
  )}
