---
import Layout from "../components/layouts/Layout.astro";
import { Blog } from "../types";

// type Props = CollectionEntry<"blog">["data"];

const { blog } = Astro.props as Blog;
const { title, publishedAt, content, isPrivate, categories } = blog;
---

<Layout>
  <article>
    <h1 class="text-3xl mt-1">{title}</h1>
    <date>{publishedAt}</date>
    {isPrivate && <p>This is Private Post!</p>}
    <ul>
      {categories?.map((category) =>
        <li>{category}</li>)}

      {
        content?.map(({ type, text }) => (
          <li>
            <p>{text}</p>
          </li>
        ))
      }
    </ul>
    <hr class="border-t-[1px] border-solid border-slate-300 mt-10" />
    <slot />
  </article>
</Layout>
