---
import Layout from "./Layout.astro";
import { Blog } from "../types";
import CategoryItem from "../components/CategoryItem.astro";

const { blog } = Astro.props as { blog: Blog };
const { title, publishedAt, contents, isPrivate, categories } = blog;
---

<Layout>
  <article>
    <div class="flex justify-between">
      <h1 class="text-3xl mt-1">{title}</h1>
      <date>{publishedAt}</date>
    </div>

    {isPrivate && <p>This is Private Post!</p>}

    <ul>
      {categories?.map((category) =>
        <CategoryItem category={category} />)}
    </ul>

    <ul>
      {contents?.map((content) => (
        <li>
          <p>{content.text}</p>
        </li>
      ))}
    </ul>
    <hr class="border-t-[1px] border-solid border-slate-300 mt-10" />
    <slot />
  </article>
</Layout>
