---
import BaseHead from '../components/core/BaseHead.astro'
import k from '../const'
import Header from '../components/core/Header.astro'
import Footer from '../components/core/Footer.astro'
import Preferences from '@/states/Preferences'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={k.SITE_TITLE} description={k.SITE_DESC} />
    <title>{k.SITE_TITLE}</title>
  </head>
  <body>
    <Header title={k.SITE_TITLE} />
    <main class='container px-6 mx-auto'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
