---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <title>{SITE_TITLE}</title>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="container mx-auto px-6">
      <slot />
    </main>
    <Footer />
  </body>
</html>
