---
import HeaderLink from "../components/HeaderLink.astro";
---
<div
  class="fixed top-0 left-0 z-10 h-full w-full transform bg-gray-200 opacity-95 duration-300 ease-in-out dark:bg-gray-800 translate-x-0">
  <div class="flex justify-end">
    <button type="button" class="mr-5 mt-11 h-8 w-8 rounded" aria-label="Toggle Menu">
      <img src="/svg/close.svg" alt="close icon" />
    </button>
  </div>

  <nav class="fixed mt-8 h-full">
    <ul>
      <HeaderLink href="/about">어바웃</HeaderLink>
      <HeaderLink href="/category">카테고리</HeaderLink>
    </ul>
  </nav>
</div>